<html lang="en">
<head>
    <link rel="stylesheet" href="/public/css/navbar.css">
    <script src="https://kit.fontawesome.com/7845e4b593.js" crossorigin="anonymous"></script>
</head>
    <div class="main">
        <div class="container">
            <div class="logo">
                <img class="svg" id="svg" src="/public/assets/piano.svg">
                <a href="/" class="none name" >THE ABSOLUTE PITCH</a>
            </div>
            <div class="nav-item">
                <a class="none home" href="/">ACCUEIL</a>
                <div>
                    <i id="icon" class="fa-regular fa-user fa-beat" style="--fa-animation-duration:5s;"></i>
                </div>
                <a class="none logout" href="/login">DÉCONNEXION</a>
            </div>
        </div>
    </div>
</html>